.form-container {
    margin: auto;
}

.form-control {
    display: flex;
    margin: 15px 0;
}

.form-control label {
    flex-basis: 100px;
    padding: 10px;
}

.form-control input {
    flex-basis: 200px;
    padding: 10px;
}


.form-actions {
    margin-left: 2rem;
}

.form-actions button {
    background: #01d1d1;
    font: inherit;
    border: 1px solid #01d1d1;
    border-radius: 3px;
    padding: 0.25rem 1rem;
    margin-right: 1rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.26);
    color: white;
    cursor: pointer;
}

.login {
    margin-top: 70px;
}





.form-actions button:hover,
.form-actions button:active {
    background: #01a7a7;
    border-color: #01a7a7;
}