.student__activity__headline {
    margin-bottom: 20px;
    text-align: center;
}


.student__activity__container {
    margin: auto;
}

.student__activity__courses {
    display: grid;
    grid-gap: 50px;
    justify-content: center;
    text-align: center;
    grid-template-columns: repeat(4, 250px);
    grid-auto-rows: 450px;
}

img.student__activity {
    margin: 10px auto;
    height: 100px;
    width: 150px;
    display: block;
}

.student__activity__card__body {
    display: flex;
    flex-direction: column;
}

.student__activity__card__body button {
    margin-top: auto;
}