.profile__container {
    margin: auto;
    text-align: center;
    width: 300px;
}

.profile__card img {
    height: 200px;
    width: 200px;
    margin: auto;
}

img.proffesor__profile {
    margin-top: 10px;
}


.profile__container .proffesor__register__courses {
    font-size: 20px;
}