.student__profile_container {
    text-align: center;
    margin: auto;
    padding: 10px;
}

.student__profile__card {
    padding: 10px !important;
}

.student__profile__modal {
    margin: auto;
    height: 100px;
    display: block;
}

.modal-footer {
    margin: auto;
}