.proffesors__container {
    width: 100%;
}

.form__wrapper {
    display: flex;
}

.form-container {
    margin: auto;
}

.add-proffesor {
    display: block !important;
    margin: auto;
    margin-bottom: 15px;
}